# Project exclude paths
/out/
/target/
/.gitignore/
/.idea/.name
/.idea/libraries/Maven__com_alibaba_druid_1_1_20.xml
/.idea/libraries/Maven__com_fasterxml_classmate_1_3_3.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_9_3.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_9_3.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_9_3.xml
/.idea/libraries/Maven__com_google_guava_guava_18_0.xml
/.idea/libraries/Maven__com_sun_xml_bind_jaxb_core_2_2_11.xml
/.idea/libraries/Maven__com_sun_xml_bind_jaxb_impl_2_2_11.xml
/.idea/libraries/Maven__commons_collections_commons_collections_3_2_1.xml
/.idea/libraries/Maven__commons_fileupload_commons_fileupload_1_3_3.xml
/.idea/libraries/Maven__commons_io_commons_io_2_2.xml
/.idea/libraries/Maven__io_springfox_springfox_core_2_7_0.xml
/.idea/libraries/Maven__io_springfox_springfox_schema_2_7_0.xml
/.idea/libraries/Maven__io_springfox_springfox_spi_2_7_0.xml
/.idea/libraries/Maven__io_springfox_springfox_spring_web_2_7_0.xml
/.idea/libraries/Maven__io_springfox_springfox_swagger2_2_7_0.xml
/.idea/libraries/Maven__io_springfox_springfox_swagger_common_2_7_0.xml
/.idea/libraries/Maven__io_springfox_springfox_swagger_ui_2_7_0.xml
/.idea/libraries/Maven__io_swagger_swagger_annotations_1_5_13.xml
/.idea/libraries/Maven__io_swagger_swagger_models_1_5_13.xml
/.idea/libraries/Maven__javax_servlet_servlet_api_2_5.xml
/.idea/libraries/Maven__junit_junit_4_12.xml
/.idea/libraries/Maven__mysql_mysql_connector_java_5_0_3.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_6_14.xml
/.idea/libraries/Maven__org_apache_cxf_cxf_core_3_1_4.xml
/.idea/libraries/Maven__org_apache_cxf_cxf_rt_bindings_soap_3_1_4.xml
/.idea/libraries/Maven__org_apache_cxf_cxf_rt_bindings_xml_3_1_4.xml
/.idea/libraries/Maven__org_apache_cxf_cxf_rt_databinding_jaxb_3_1_4.xml
/.idea/libraries/Maven__org_apache_cxf_cxf_rt_frontend_jaxws_3_1_4.xml
/.idea/libraries/Maven__org_apache_cxf_cxf_rt_frontend_simple_3_1_4.xml
/.idea/libraries/Maven__org_apache_cxf_cxf_rt_transports_http_3_1_4.xml
/.idea/libraries/Maven__org_apache_cxf_cxf_rt_ws_addr_3_1_4.xml
/.idea/libraries/Maven__org_apache_cxf_cxf_rt_ws_policy_3_1_4.xml
/.idea/libraries/Maven__org_apache_cxf_cxf_rt_wsdl_3_1_4.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_10_0.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_core_2_10_0.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_web_2_9_1.xml
/.idea/libraries/Maven__org_apache_neethi_neethi_3_0_3.xml
/.idea/libraries/Maven__org_apache_ws_xmlschema_xmlschema_core_2_2_1.xml
/.idea/libraries/Maven__org_aspectj_aspectjweaver_1_9_3.xml
/.idea/libraries/Maven__org_codehaus_woodstox_stax2_api_3_1_4.xml
/.idea/libraries/Maven__org_codehaus_woodstox_woodstox_core_asl_4_4_1.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/.idea/libraries/Maven__org_javassist_javassist_3_21_0_GA.xml
/.idea/libraries/Maven__org_mapstruct_mapstruct_1_1_0_Final.xml
/.idea/libraries/Maven__org_mybatis_mybatis_3_3_0.xml
/.idea/libraries/Maven__org_mybatis_mybatis_spring_1_3_2.xml
/.idea/libraries/Maven__org_ow2_asm_asm_5_0_4.xml
/.idea/libraries/Maven__org_reflections_reflections_0_9_11.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_24.xml
/.idea/libraries/Maven__org_springframework_plugin_spring_plugin_core_1_2_0_RELEASE.xml
/.idea/libraries/Maven__org_springframework_plugin_spring_plugin_metadata_1_2_0_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_aop_5_2_1_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_beans_5_2_1_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_context_5_2_1_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_core_5_2_1_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_expression_5_2_1_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_jcl_5_2_1_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_jdbc_5_2_1_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_test_5_2_1_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_tx_5_2_1_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_web_5_2_1_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_webmvc_5_2_1_RELEASE.xml
/.idea/libraries/Maven__wsdl4j_wsdl4j_1_6_3.xml
/.idea/libraries/Maven__xml_resolver_xml_resolver_1_2.xml
/.idea/modules.xml
/.idea/artifacts/servlet_war.xml
/.idea/artifacts/servlet_war_exploded.xml
